<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form method="get" action="/runtest" style="display:inline">
    <input type="hidden" name="execut" value=""/>
    &nbsp&nbsp||&nbsp&nbsp
<button onclick="check()">执行接口测试</button>

<form action="/center/add" method="get">
    用户名：<input type="text" name="name"><br>
    年龄：<input type="text" name="age"><br>

   <!-- 爱好：吃<input type="checkbox" name="hobby" value="吃">
    喝<input type="checkbox" name="hobby" value="喝">
    玩<input type="checkbox" name="hobby" value="玩">
    乐<input type="checkbox" name="hobby" value="乐"><br>-->
<table  onclick="table_width();" id="customers" style="table-layout:fixed;">
    <thead>
    <tr>
        <th class="checkall">

        <th class="interId"> <input type="checkbox" onclick="check_all();">id</th>
        <th class="interMode">模块</th>
        <th class="interDesc">接口描述</th>
        <th class="interParam">接口地址</th>
        <th width="100px" class="interFormat">数据格式</th>
        <th class="interParam">请求参数</th>
        <th class="interOption">请求方法</th>
        <th class="interAuthor">开发者</th>
        <th class="interResult">预期结果</th>
        <th class="interInputTime">录入时间</th>
        <th class="interOperat">操作</th>
    </tr>
    </thead>

    <tbody id="tbody">
    <form action="/delinterface" method="get">

            <tr>
                <td class="interId" ><input  name="ch_id"  type="checkbox" value="11"/>11</td>
                <td class="interMode" name="ch_mode">模块</td>
                <th class="interDesc" name="ch_desc">描述</th>
                <td class="interResult" name="ch_result" title="zz">预期结果</td>
                <td class="interParam" name="ch_param">参数</td>
                <td>
                    <div title="tt" class="interParam" name="ch_addr">地址</div>
                </td>
                <td width="200px" class="interOption" name="ch_option">请求方法</td>
                <td class="interAuthor" name="ch_author">作者</td>
                <th name="ch_expet">预期结果</th>
                <td class="interResult">请求时间</td>
                <td class="interInputTime">
                    <button name="iid" value="11">删除</button>
                    <button name='rid' value="11">执行</button>
                    <input  type="button" id="editinter" name="editinter2" value="11" class="btn" onclick="testbut();Show2();"
                           title="编辑"/></td>
            </tr>
    <tr>
                <td class="interId" ><input  name="ch_id"  type="checkbox" value="12"/>12</td>
                <td class="interMode" name="ch_mode">模块</td>
                <th class="interDesc" name="ch_desc">描述</th>
                <td class="interResult" name="ch_result" title="zz">预期结果</td>
                <td class="interParam" name="ch_param">参数</td>
                <td>
                    <div title="tt" class="interParam" name="ch_addr">地址</div>
                </td>
                <td width="200px" class="interOption" name="ch_option">请求方法</td>
                <td class="interAuthor" name="ch_author">作者</td>
                <th name="ch_expet">预期结果</th>
                <td class="interResult">请求时间</td>
                <td class="interInputTime">
                    <button name="iid" value="11">删除</button>
                    <button name='rid' value="11">执行</button>
                    <input  type="button" id="editinter" name="editinter2" value="11" class="btn" onclick="testbut();Show2();"
                           title="编辑"/></td>
            </tr>
    </form>

    </tbody>
    </div>

</table>
 
    <input type="submit" value="提交">
 
</form>

 </form>
</body>
</html>
